<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista uczniów</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" >
        <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <button
                    class="navbar-toggler"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation">

                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Dodaj nowego ucznia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/home'}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/employees'}">Pracownicy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/groups'}">Grupy/Klasy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/inventories'}">Inwentaryzacja</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

</header>

<main>

    <body>
    <div align="left">
        <form th:action="@{/students/addstudents}" method="post" th:object="${student}">
            <div class="form-group">
                <label class="control-label" for="firstName">
                    Imię
                </label>
                <input id="firstName" type="text" class="form-control" th:field="*{firstName}"
                       required autofocus="autofocus" placeholder="Wpisz imię ucznia"/>
                <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" >Name error</span>
            </div>

            <div class="form-group">
                <label class="control-label" for="lastName">
                    Nazwisko
                </label>
                <input id="lastName" class="form-control" th:field="*{lastName}"
                       required autofocus="autofocus" placeholder="Wpisz nazwisko ucznia"/>
                <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" >Name error</span>
            </div>
            <div class="form-group">
                <label class="control-label" for="age">
                    Wiek
                </label>
                <input id="age" class="form-control" th:field="*{age}"
                       required autofocus="autofocus" placeholder="Wpisz wiek ucznia"/>
                <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}" >Age error</span>
            </div>
            <div class="form-group">
                <label class="control-label" for="pesel">
                    Pesel
                </label>
                <input id="pesel" class="form-control" th:field="*{pesel}"
                       required autofocus="autofocus"/>
                <span th:if="${#fields.hasErrors('pesel')}" th:errors="*{pesel}" >Pesel error</span>
            </div>

            <div class="form-group">
                <label class="control-label" for="email">
                    Email
                </label>
                <input id="email" class="form-control" th:field="*{parentMail}" required
                       autofocus="autofocus" placeholder="Wpisz adres email rodzica"/>
                <span th:if="${#fields.hasErrors('parentMail')}" th:errors="*{parentMail}" >Name error</span>
            </div>

            <div class="form-group">
                <label class="control-label" for="mobile">
                    Nr telefonu:
                </label>
                <input id="mobile" class="form-control" th:field="*{parentMobileNumber}" required
                       autofocus="autofocus"/>
                <span th:if="${#fields.hasErrors('parentMobileNumber')}" th:errors="*{parentMobileNumber}" >Name error</span>
            </div>

            <div class="form-group">
                <label class="control-label" for="started">
                   Data rozpoczęcia nauki:
                </label>
                <input id="started" class="form-control" type="date" th:field="*{schoolStartDate}" required
                       autofocus="autofocus"/>
                <span th:if="${#fields.hasErrors('schoolStartDate')}" th:errors="*{schoolStartDate}" >Name error</span>

            </div>

            <div class="form-group">
                <label class="control-label" for="ended">
                    Data zakończenia nauki:
                </label>
                <input id="ended" class="form-control" type="date" th:field="*{schoolEndDate}" required
                       autofocus="autofocus"/>
                <span th:if="${#fields.hasErrors('schoolEndDate')}" th:errors="*{schoolEndDate}" >Name error</span>
            </div>


            <div class="form-group">
                <button type="submit" class="btn btn-success" >Zapisz</button>

            </div>
        </form>
    </div>
    </body>




</main>

<footer>
    <footer class="bg-light text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->

            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 Copyright:
            <a class="text-white" href="https://github.com/Kruchyxe/SchoolMenagerSoft">Kruchyxe</a>
        </div>
        <!-- Copyright -->
    </footer>


</footer>

</body>
</html>